@charset "utf-8";
/* CSS Document */

/*.center{height:100% !important;}
.right{ height:100% !important;}*/
.right_dw{ padding:0% 0 0 0 !important;}

.pic{ margin:0% 15% 0; padding-top:3%;}
.pic img{ width:98.3%; height:100%;}
