.footer{
  background-color: #222222;
  width: 100%;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.footer ul{
  width: 100%;
  padding-left: 0px;
}
.footer ul li{
  float: left;
  width: 25%;
  text-align: center;
  font-size: 16px;
  list-style-type: none;
}

.footer ul li a{
  color: white;
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
}
.footer ul li a:hover{
  background: #317ef3;
  border-bottom: 1px solid #2868c8;
  box-shadow: 1px 1px 1px #ccc;
  font-weight:bold;
}

.login-con-table{
  border:1px dashed #d9d9d9;
  padding:5px;
  text-align:center;
  vertical-align:center;
  width:50%;
}
.login-con-table td{
  border:1px solid #d9d9d9;
}
.about-ques-double {
  background:url(../images/link-btn.png) no-repeat right center;
  background-size:auto 14px;
  font-size:15px;
  color:#6d6d6d;
  padding-top: 15px;
  padding-bottom: 15px;
}
